<nav class="flex justify-between items-center gap-2 py-4 px-6 md:px-8">
  <a routerLink="/" class="text-nowrap font-bold">Hasanov Academy</a>

  @if (view() === 'desktop') {
  <p-menubar
    [model]="primaryNavs()"
    [breakpoint]="'820px'"
    [style]="{ textTransform: 'capitalize', fontSize: '14px', border: 'none' }"
    aria-label="Asosiy navigatsiya"
  />
  }

  <div class="flex items-center gap-2">
    <p-button
      size="small"
      variant="text"
      icon="pi pi-search"
      severity="secondary"
      class="flex items-center justify-center"
      aria-label="Tungi mavzu"
    />
    <p-button
      size="small"
      variant="text"
      [icon]="themeIcon()"
      severity="secondary"
      class="flex items-center justify-center"
      (onClick)="toggleTheme()"
      [ariaLabel]="themeLabel()"
    />
    @if (view() === "desktop") {
      @if (profileNav()) {
      <div class="card flex justify-center">
        <p-menu
          #menu
          [model]="secondaryNavs()"
          styleClass="capitalize text-sm"
          [popup]="true"
        />
        <p-avatar
          (click)="menu.toggle($event)"
          [label]="userName().slice(0, 1)"
          class="cursor-pointer hover:opacity-85 active:opacity-100"
        />
      </div>
      } @else {
      <p-button
        severity="warn"
        variant="text"
        routerLink="/auth/sign-in"
        [style]="{ textTransform: 'capitalize', fontSize: '14px', border: 'none' }"
        aria-label="Tizimga kirish"
      >
        <i class="pi pi-sign-in" aria-hidden="true"></i>
        <span class="leading-4">Kirish</span>
      </p-button>
      }
    }
  </div>
</nav>