.bottom-nav {
  padding: 0 !important;
  height: 100% !important;
  border-radius: 0 !important;
  border: none !important;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr)) !important;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1) !important;
}

.bottom-nav p-button[variant="text"] {
  height: 100% !important;
  display: flex !important; 
  align-items: center !important;
  justify-content: center !important;
}

.bottom-nav p-button[variant="text"] .p-button {
  width: 100% !important;
  height: 100% !important;
}

.nav-home .p-button .p-button-icon {
  font-size: 22px;
  color: var(--p-orange-400);
}

.nav-sign-in .p-button .p-button-icon {
  color: var(--p-orange-400);
}

:host-context(.app-dark) .bottom-nav .active .p-button {
  background-color: var(--p-surface-800) !important;
}

:host-context(html:not(.app-dark)) .bottom-nav .active .p-button {
  background-color: var(--p-surface-100) !important;
}