<div class="min-h-screen grid grid-rows-[auto_1fr_auto]" [ngClass]="{ 'pb-16': currentView() !== view.Desktop }">
  <app-header
    [primaryNavs]="getNavsCurrentBreakpoint()"
    [secondaryNavs]="navigation.getTopSecondaryItems()"
    [currentView]="currentView()"
    [scrollDown]="scrollDown()"
  />
  <main [ngClass]="{ 'mt-16 lg:mt-20': scrollDown() }">
    <router-outlet />
  </main>
  <app-footer />
  @if (currentView() !== view.Desktop) {
    <app-bottom-nav [currentNavs]="getNavsCurrentBreakpoint()" />
  }
</div>
