<app-form-card>
  <div class="flex flex-col gap-y-4" ngProjectAs="header">
    <p-button
      size="small"
      icon="pi pi-chevron-left"
      label="Ortga"
      text
      severity="info"
      (onClick)="location.back()"
    />
    @if (resetStatus() === 'send') {
    <span class="text-center">E-pochtani kiritish</span>
    }
    @if (resetStatus() === 'verify') {
    <span class="text-center">6 xonali kalitni kiritish</span>
    }
    @if (resetStatus() === 'password') {
    <span class="text-center">Yangi kalit o'rnating</span>
    }
  </div>

  @if (resetStatus() === 'send') {
  <form
    [formGroup]="form"
    (ngSubmit)="sendCode()"
    ngProjectAs="main"
    action=""
    class="space-y-5 sm:space-y-6 mt-4 sm:mt-6"
  >
    <div class="flex flex-col gap-2 relative">
      <label
        for="email"
        [class.p-invalid-color]="emailErrors"
        class="leading-2.5 text-sm font-normal"
      >
        E-pochta
      </label>
      <input
        #formInput
        autocomplete="off"
        pSize="small"
        type="email"
        pInputText
        id="email"
        placeholder="kimdir@pochta.uz"
        name="email"
        [formControl]="form.controls.email"
        required
      />
      @if (emailErrors) {
        <p-message
          size="small"
          class="absolute -bottom-5 right-0"
          severity="error"
          size="small"
          variant="simple"
        >
          {{emailErrors}}
        </p-message>
      }
    </div>
    <button
      pButton
      severity="warn"
      size="small"
      type="submit"
      label="Davom etish"
      fluid
      class="mt-1.5"
      [loading]="isLoading()"
    ></button>
  </form>
  }
  
  @if (resetStatus() === 'verify') {
  <p class="text-[13px] font-normal text-slate-500 my-2 text-center">
  <span class="font-medium mr-1 text-orange-400">{{ form.controls.email.value }}</span>
    <span>manziliga yuborilgan tasdiqlash kalitini yozing</span>
  </p>
  <app-otp-verification
    (verifyHandle)="onVerifyOtp($event)"
    (resendHandle)="onResenCode()"
    [verified]="otpVerified()"
    [resend]="isResend()"
  />
  }

  @if (resetStatus() === 'password') {
  <form
    [formGroup]="formPasswords"
    (ngSubmit)="onUpdatePassword()"
    ngProjectAs="main"
    action=""
    class="space-y-5 sm:space-y-6 mt-4 sm:mt-6"
  >
    <div class="flex flex-col flex-1 gap-2 relative">
      <label for="password" [class.p-invalid-color]="passwordErrors" class="leading-2.5 text-sm font-normal">Maxfiy kalit</label>
      <p-password
        [formControl]="formPasswords.controls.password"
        autocomplete="off"
        size="small"
        inputId="password"
        name="password"
        fluid
        [toggleMask]="true"
        placeholder="*-*-*-*-*-*-*-*"
        promptLabel="Kuchli kalit o'ylang"
        weakLabel="Zaif"
        mediumLabel="O'rtacha"
        strongLabel="Kuchli"
      >
        <ng-template #footer>
          <p-divider />
          <ul class="pl-2 text-xs my-0 leading-normal">
            <li [class.text-green-500]="hasUppercase()">Kamida 1 ta katta harf</li>
            <li [class.text-green-500]="hasLowercase()">Kamida 1 ta kichik harf</li>
            <li [class.text-green-500]="hasNumeric()">Kamida 1 ta katta raqam</li>
            <li [class.text-green-500]="hasMinLength()">Kamida 8 ta belgi</li>
          </ul>
        </ng-template>
      </p-password>
      @if (passwordErrors) {
      <p-message
        size="small"
        class="absolute -bottom-5 right-0"
        severity="error"
        size="small"
        variant="simple"
      >
        {{passwordErrors}}
      </p-message>
      }
    </div>
    <div class="flex flex-col flex-1 gap-2 relative">
      <label for="confirmPassword" [class.p-invalid-color]="confirmPasswordErrors" class="leading-2.5 text-sm font-normal">Kalitni takrorlang</label>
      <p-password
        [formControl]="formPasswords.controls.confirmPassword"
        size="small"
        inputId="confirmPassword"
        name="confirmPassword"
        fluid
        [toggleMask]="true"
        [feedback]="false"
        placeholder="*-*-*-*-*-*-*-*"
      />
      @if (confirmPasswordErrors) {
      <p-message
        size="small"
        class="absolute -bottom-5 right-0"
        severity="error"
        size="small"
        variant="simple"
      >
        {{confirmPasswordErrors}}
      </p-message>          }
    </div>
    <button
      pButton
      severity="warn"
      size="small"
      type="submit"
      label="Kirish"
      fluid
      class="mt-1.5"
      [loading]="isLoading()"
    ></button>
  </form>
  }
</app-form-card>