<div class="bg-white p-4 w-60">
  <div class="mb-6">
    <h3 class="text-lg font-semibold text-gray-900 mb-3">Turkum</h3>
    <div class="space-y-2">
      <label *ngFor="let category of categories" class="flex items-center justify-between cursor-pointer">
        <div class="flex items-center cursor-pointer">
          <p-checkbox
            [inputId]="category.name"
            [value]="category.name" 
            [(ngModel)]="selectedCategories" 
            [binary]="false"
            size="small"
          />
          <label [for]="category.name" class="ml-2"> {{ category.name }} </label>
        </div>
        <span class="text-gray-500 text-sm">{{ category.count }}</span>
      </label>
    </div>
  </div>

  <div class="mb-6">
    <h3 class="text-lg font-semibold text-gray-900 mb-3">Mualliflar</h3>
    <div class="space-y-2">
      <label *ngFor="let instructor of instructors" class="flex items-center justify-between cursor-pointer">
        <div class="flex items-center">
          <p-checkbox
            [inputId]="instructor.name"
            [value]="instructor.name" 
            [(ngModel)]="selectedCategories" 
            [binary]="false"
            size="small"
          />
          <label [for]="instructor.name" class="ml-2"> {{ instructor.name }} </label>
        </div>
        <span class="text-gray-500 text-sm">{{ instructor.count }}</span>
      </label>
    </div>
  </div>

  <div class="mb-6">
    <h3 class="text-lg font-semibold text-gray-900 mb-3">Narxlar</h3>
    <div class="space-y-2">
      <label class="flex items-center justify-between flex-col gap-2 cursor-pointer">
        <div class="flex justify-between items-center w-full">
          <span class="text-gray-500 text-sm">{{ rangeValues[0] }}</span>
          <span class="text-gray-500 text-sm">{{ rangeValues[1] }}</span>
        </div>
        <div class="flex items-center">
          <p-slider [(ngModel)]="rangeValues" [range]="true" class="w-56" />
        </div>
      </label>
    </div>
  </div>
</div>