/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

:root {
  --font-family: 'Roboto', sans-serif;
  --p-font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
}

.p-component {
  font-family: var(--font-family) !important;
  --p-inputtext-focus-border-color: var(--p-slate-500);
}

[formgroupname].ng-invalid.ng-touched.ng-dirty label,
.control:has(.ng-invalid.ng-touched.ng-dirty) label {
  color: var(--p-red-500);
}

[formgroupname].ng-invalid.ng-touched.ng-dirty input,
input.ng-invalid.ng-touched.ng-dirty {
  border-color: var(--p-red-500);
}