/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

:root {
  --font-family: 'Roboto', sans-serif;
  --p-font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
}

.p-component {
  font-family: var(--font-family) !important;
}